@using GestionPersonnel.Models.Employe
@using GestionPersonnel.Services
@inject IEmployeService EmployeService


<div class="modal-overlay" style="@DisplayStyle">
    <div class="modal-content">
        <!-- Close Button -->
        <span class="close-btn" @onclick="Hide">&times;</span>

        <h3>Ajouter Employeur Paiment</h3>
        <form>
            <label>Choisir Employe</label>
            <select>
                <option>-- Choisir Employe</option>
                @if (employes != null)
                    @foreach (var employe in employes)
                    {
                        <option value="@employe.EmployeID">@employe.Nom @employe.Prenom</option>
                    }
                else
                {
                    <option>-- Null --</option>
                }
            </select>

            <label>Fonction</label>
            <input type="text" placeholder="Fonction" />

            <label>Choisir Employe</label>
            <select>
                <option>-- Choisir Employe</option>
                @if(employes != null)
                @foreach (var employe in employes)
                {
                    <option value="@employe.EmployeID">@employe.Nom @employe.Prenom</option>
                    }
                else
                {
                    <option>-- Null --</option>
                }
            </select>

            <label>Salaire</label>
            <input type="text" placeholder="Salaire" />

            <button type="submit">Ajouter Paiment</button>
        </form>
    </div>
</div>

@code {
    [Parameter] public bool IsVisible { get; set; }
    [Parameter] public EventCallback OnClose { get; set; }
    private List<Employe> employes;

    private string DisplayStyle => IsVisible ? "display: flex;" : "display: none;";
    protected override async Task OnInitializedAsync()
    {
        employes = await EmployeService.GetEmployeesAsync();
    }

    private void Hide() => OnClose.InvokeAsync();


   
}





